<div id="kontener">
    <div id="menu-header">
        <h1>{{title}}</h1>
    </div>

    <p><a href="#"><</a></p>

    <table id="main-menu-table">
        <tr>
            <td><p id="gastronomy-link">{{gastronomy_label}}</p></td>
            <td><p id="music-link">{{music_and_dance_label}}</p></td>
        </tr>
        <tr>
            <td><p id="sport-link">{{sport_label}}</p></td>
            <td><p id="nature-link">{{nature_label}}</p></td>
        </tr>
        <tr>
            <td><p>{{costam_label}}</p></td>
            <td><p id="practical-info-link">{{info_label}}</p></td>
        </tr>
    </table>
</div>