<div id="menu-screen">
    <div id="menu-header">
        <img src="img/logo/HastaLaWislaNiskie.png" alt="Hasta la Wisła" id="logo" />
    </div>

    <a href="#" id="back-link"><img src="img/icons/back.svg" id="back-arrow" /></a>

    <table id="main-menu-table">
        <tr>
            <td><p id="gastronomy-link">{{gastronomy_label}}</p></td>
            <td><p id="music-link">{{music_and_dance_label}}</p></td>
        </tr>
        <tr>
            <td><p id="sport-link">{{sport_label}}</p></td>
            <td><p id="nature-link">{{nature_label}}</p></td>
        </tr>
        <tr>
            <td><p>{{costam_label}}</p></td>
            <td><p id="practical-info-link">{{info_label}}</p></td>
        </tr>
    </table>
</div>